In [19]:
import os
import sys
import urllib.request
import json
import pandas as pd

client_id = ""
client_secret = ""
url = "https://openapi.naver.com/v1/datalab/shopping/categories";
# body = "{\"startDate\":\"2017-08-01\",\"endDate\":\"2017-09-30\",\"timeUnit\":\"date\",\"category\":[{\"name\":\"패션의류\",\"param\":[\"50000000\"]},{\"name\":\"화장품/미용\",\"param\":[\"50000002\"]}],\"device\":\"pc\",\"ages\":[\"20\",\"30\"],\"gender\":\"f\"}";
# 2020-03-02 수정
body = {
  "startDate": "2020-02-01",
  "endDate": "2020-09-01",
  "timeUnit": "date",
  "category": [{"name": "패션의류", "param": ["50000000"]}],
  "device": "pc",
  "gender": "f",
  "ages": ["30" ]
}
body = json.dumps(body, ensure_ascii=False)


request = urllib.request.Request(url)

request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
request.add_header("Content-Type","application/json")

response = urllib.request.urlopen(request, data=body.encode("utf-8"))

rescode = response.getcode()

if(rescode==200):
    response_body = response.read()
    #print(response_body.decode('utf-8'))
else:
    print("Error Code:" + rescode)
    
    
    
data = json.loads(response_body)
#print(data)
pd.DataFrame(data['results'][0]['data'])

         period     ratio
0    2020-02-01  27.16594
1    2020-02-02  30.90666
2    2020-02-03  66.30374
3    2020-02-04  77.21768
4    2020-02-05  73.75437
..          ...       ...
209  2020-08-28  47.95680
210  2020-08-29  24.06261
211  2020-08-30  28.74127
212  2020-08-31  59.37603
213  2020-09-01  58.68909

[214 rows x 2 columns]